body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0 auto;
  background: skyblue;
  font-family: "Open Sans", sans-serif;
}

h4 {
  color: #000;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}

.wrapper {
  background: powderblue;
  padding: 2em;
  border-radius: 30px;
  width: 600px;
  margin: 30px auto;
}

.maingrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.griditem2 {
  margin-top: 50px;
}
.search {
  display: flex;
  align-items: center;
  justify-content: center;
}
button {
  margin: 0.5em;
  border-radius: 50%;
  border: none;
  height: 46px;
  width: 46px;
  outline: none;
  background: #7c7c7c2b;
  color: white;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
input.search-bar {
  border: none;
  outline: none;
  padding: 0.5em 1em;
  border-radius: 24px;
  background: #7c7c7c2b;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 120%;
  width: calc(100%-100px);
}
.weather-temperature img {
  margin-right: 10px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 16px;
  line-height: 1;
  font-weight: 600;
}
.weather-temperature.units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-forecast {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: #000;
}
.weather-forecast-date {
  font-size: 16px;
  opacity: 0.6;
}
.weather-forecast-temperature.min {
  opacity: 0.5;
}
.weather-forecast-temperatures {
  font-size: 13px;
}
